*{
	font-family: trebuchet MS;
}
html {
  overflow-y: scroll;
}
p{
	text-indent: 50px;
}
h2{
    
    text-align: center;
}
.g{
    max-width: 12%;
    max-height: 12%;
}
.headTitle{
    font-size: 227%;
    margin-top: -7px; 
    margin-right: 89px; 
    margin-bottom: 2px; 
    //margin-left: 10px;
    padding: 0px;
}
.headpic{
    max-width: 12%;
    max-height: 12%;
    margin-right:11px;
}
nav,
header,
footer,
article{
    max-width: 1000px;
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
}
footer{
    font-size: 85%;
}
h1{
    text-align: center;
}
header{
    border-bottom: 6px solid #333;
}
/*figure{
    border: thin solid darkslategray;
    border-radius: 0.4em;
    padding: 0.5em;
}*/
.imgHead{
    float: left;
    max-width: 10%;
    max-height:10%;
}
figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}
img{
    max-width: 100%;
}
.img-right {
    float: right;
    margin-left: 1em;
}
.check-field{
    margin: 0 0 1.25em 7.5em;
}
.radio-field{
    margin: 0 0 1.25em 7.5em
}
.roundedCornersSmall{
    border-radius: 0.4em;
}

.small {
    width: 180px;

}

.activePage a{
  border-top: 3px solid white;
}
.listSpace{
    margin-left:91px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.navigate{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav{
    background-color: #333;
}
li {
    margin-left:91px;
    float: left;
}

li a {
    border-top:3px solid transparent;
    display: block;
    //display:inline-block;
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 15px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
}
/*header,
nav{
    overflow: hidden;
    background-color: #333;
    position: fixed;  Set the navbar to fixed position 
    top: 0;  Position the navbar at the top of the page 
    width: 100%;  Full width 
}*/
li a:hover:not(.activePage) {
   border-top: 3px solid white;
}
#form form{
    max-width: 38em;
    margin: auto;
}
fieldset{
    border: 2px solid #333;
    clear: both;
    margin-top: 2em;
    padding: 1em;
}
.form-heading{
    //border-bottom: 2px solid blueviolet;
    font-size: 1.25em;
    //font-weight: bold;
    margin-bottom: 1.75em;
    padding-bottom: 0.5em;
    text-align: center;
}
.pages{
    //background-color: whitesmoke;
    border-bottom: 2px solid blueviolet;
    padding-bottom: 0.5em;
}
.text-field{
    display: block;
    float: left;
    //margin: 0 0 1.2em;
    padding-right: 0.7em;
    padding-top: 0.75em;
    text-align: right;
    width: 7em;
}
#form input{
    box-sizing: border-box;
    border: 2px solid turquoise;
    box-shadow: 2px 2px 4px #EBEBEB;
    border-radius: 3px;
    padding: 1em;
    outline: none;
}
#form input:focus{
    border: 1px solid #0C0;
}
#form input[type=submit]{
    background: blueviolet none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #dadada;
    color: #fff;
    margin-top: 1.5em;
    margin-left: 5em;
    padding: 0.8em 1.4em;
    cursor:pointer;
}
#form input[type=submit]:hover{
    //background: blueviolet;
    color: black;
}

.mistake{
    color: #fff;
    background-color: #800;
    border: thin solid #000;
}
#errors ol li{
    color: #ff5555;
}

#form input, 
#form textarea, 
#form select{
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 2px 2px 4px #EBEBEB;
    padding: 1em;
    outline: none;
}

#form input:focus,
#form textarea:focus,
#form select:focus{
    border: 1px solid #0C0;
}


/*rules for displaying the csv*/
td{
	border: 2px solid #000000;
}
tr:nth-child(even){
	background-color: #eeeeee;
}
tr:hover{
	background-color: #cccccc;
}
th{
	border-bottom: 4px solid #000000;
	background-color: #bbbbbb;
}
